body{
    background-image: url('../img/rojo.jpg');
    background-attachment: fixed;
}

#logo{
    background-color: #CA3413;
}

#menu li:hover{
    background-color: #CA3413;
}

#blog .button-more{
    background-color: #CA3413;
}