body{
    background-image: url('../img/cielo.jpg');
    background-attachment: fixed;
}

#logo{
    background-color: #1f87C4;
}

#menu li:hover{
    background-color: #1f87C4;
}

#blog .button-more{
    background-color: #1f87C4;
}